<div class="main-section">
  <div class="header">
    <a (click)="navigate('barchart')" [ngClass]="{'active': activetab == 1}">Bar Chart</a>
    <a (click)="navigate('linechart')" [ngClass]="{'active': activetab == 2}">Line Chart</a>
    <a (click)="navigate('piechart')" [ngClass]="{'active': activetab == 3}">Pie Chart</a>
    <a (click)="navigate('multilinechart')" [ngClass]="{'active': activetab == 4}">Multi Series Line Chart</a>
    <a (click)="navigate('historychart')" [ngClass]="{'active': activetab == 5}">History chart</a>
  </div>
  <router-outlet></router-outlet>
</div>